html, body {
	margin-top: 10px;
	padding: 0;
	background-color: rgb(255,250,240)
}

/*
img {
	width: 100%;
    height: auto;
    margin-top:20px;
}
*/

h1 {
	font-family: Merriweather;
	font-size: 36px;
	font-weight: 800;
}

h2 {
	font-family: Open Sans;
	font-size: 20px;
}

h3 {
	font-family: Merriweather;
	font-size: 16px;
	font-style: italic;
	color: rgb(64,224,208);
}

h4 {
	font-family: Open Sans;
	font-size: 16px;
}

.headerBottom {
	border-width: 5px;
	border-style: dotted;
	color: red;

}