body {
	margin-bottom: 20px;
}

.form-horizontal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 30px;
}

.closeRSVP h2 {
	font-family: "Open Sans";
	font-size: 20px;
	color: rgb(194,24,7);
}

.closeRSVP h3 {
	font-family: Merriweather;
	font-size: 16px;
	color: black;
	margin-top: 10px;
}

.bienvenidos h3 {
	font-family: "Open Sans";
	font-size: 16px;
	color: rgb(64,224,208);
}

.rsvpconfirm {
	margin-top: 20px;
}

