.gridContainer {
	margin-top: 20px;
	padding: 10px;
}

.rowDetail {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 30px;
	padding: 20px;
}

img {
	width: 100%;
    height: auto;
    margin-top:10px;
    border-radius: 4px;
}

.hotelDetail h2 {
	margin-top:10px;
	margin-bottom:10px;
	font-family: "Open Sans";
	font-size: 20px;
	color: rgb(194,24,7);
}

.hotelDetail > h3 {
	font-family: Merriweather;
	font-size: 16px;
	color: black;
	margin-top: 7px;
	margin-bottom: 7px;
}

.hotelDetail h4 {
	font-size: 16px;
}

.weblink h3 {
	font-family: "Open Sans";
	font-size: 20px;
	color: rgb(194,24,7);
}